In [97]:
import pandas as pd
import numpy as np
import pycountry

In [98]:
# Read the data from the CSV and excel file
df_polio = pd.read_excel(r'polio.xlsx', engine='openpyxl')
df_measles = pd.read_excel('mesles.xlsx', engine='openpyxl')
df_diphtheria =pd.read_excel('Diphtheria.xlsx', engine='openpyxl')
df_contnent = pd.read_csv('list-of-countries-by-continent-2024.csv')
display(df_polio)
display(df_measles)
display(df_diphtheria)
display(df_contnent)

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,AFG,Afghanistan,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1995511.0,1689957.0,84.69
1,COUNTRIES,ALB,Albania,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN
2,COUNTRIES,DZA,Algeria,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,925447.0,816726.0,88.25
3,COUNTRIES,AND,Andorra,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN
4,COUNTRIES,AGO,Angola,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1154497.0,939484.0,81.38
...,...,...,...,...,...,...,...,...,...,...,...
25714,WHO_REGIONS,WPR,Western Pacific Region,1980.0,POL3,"Polio, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,28240789.0,1308554.0,5.00
25715,COUNTRIES,YEM,Yemen,1980.0,POL3,"Polio, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,1.00
25716,COUNTRIES,ZMB,Zambia,1980.0,POL3,"Polio, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
25717,COUNTRIES,ZWE,Zimbabwe,1980.0,POL3,"Polio, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
25718,Exported: 2024-19-6 20:41 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,AFG,Afghanistan,2023.0,MCV2,"Measles-containing vaccine, 2nd dose",ADMIN,Administrative coverage,1962370.0,1179611.0,60.11
1,COUNTRIES,AFG,Afghanistan,2023.0,MCV1,"Measles-containing vaccine, 1st dose",ADMIN,Administrative coverage,1962370.0,1522396.0,77.58
2,COUNTRIES,ALB,Albania,2023.0,MCV2,"Measles-containing vaccine, 2nd dose",ADMIN,Administrative coverage,23465.0,21819.0,92.99
3,COUNTRIES,ALB,Albania,2023.0,MCV1,"Measles-containing vaccine, 1st dose",ADMIN,Administrative coverage,23919.0,19920.0,83.28
4,COUNTRIES,DZA,Algeria,2023.0,MCV1,"Measles-containing vaccine, 1st dose",ADMIN,Administrative coverage,925447.0,913681.0,98.73
...,...,...,...,...,...,...,...,...,...,...,...
44545,WHO_REGIONS,WPR,Western Pacific Region,1980.0,MCV1,"Measles-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,28240789.0,1206337.0,4.00
44546,COUNTRIES,YEM,Yemen,1980.0,MCV1,"Measles-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,2.00
44547,COUNTRIES,ZMB,Zambia,1980.0,MCV1,"Measles-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44548,COUNTRIES,ZWE,Zimbabwe,1980.0,MCV1,"Measles-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44549,Exported: 2024-19-6 20:41 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,AFG,Afghanistan,2023.0,DTPCV3,"DTP-containing vaccine, 3rd dose",ADMIN,Administrative coverage,1962370.0,1692613.0,86.25
1,COUNTRIES,AFG,Afghanistan,2023.0,DTPCV1,"DTP-containing vaccine, 1st dose",ADMIN,Administrative coverage,1962370.0,1891030.0,96.36
2,COUNTRIES,ALB,Albania,2023.0,DTPCV1,"DTP-containing vaccine, 1st dose",ADMIN,Administrative coverage,22887.0,22448.0,98.08
3,COUNTRIES,ALB,Albania,2023.0,DTPCV3,"DTP-containing vaccine, 3rd dose",ADMIN,Administrative coverage,22368.0,21729.0,97.14
4,COUNTRIES,DZA,Algeria,2023.0,DTPCV3,"DTP-containing vaccine, 3rd dose",ADMIN,Administrative coverage,925447.0,849223.0,91.76
...,...,...,...,...,...,...,...,...,...,...,...
44815,COUNTRIES,ZMB,Zambia,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44816,COUNTRIES,ZMB,Zambia,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44817,COUNTRIES,ZWE,Zimbabwe,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44818,COUNTRIES,ZWE,Zimbabwe,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44819,Exported: 2024-19-6 20:40 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

              country      continent  unMember
0               India           Asia      True
1               China           Asia      True
2       United States  North America      True
3           Indonesia           Asia      True
4            Pakistan           Asia      True
..                ...            ...       ...
229        Montserrat  North America     False
230  Falkland Islands  South America     False
231              Niue        Oceania     False
232           Tokelau        Oceania     False
233      Vatican City         Europe      True

[234 rows x 3 columns]

In [99]:
#concatenate the dataframes
df_illness = pd.concat([df_polio, df_measles, df_diphtheria])
display(df_illness)
df_illness.to_csv('allillnesses.csv', index=False)

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,AFG,Afghanistan,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1995511.0,1689957.0,84.69
1,COUNTRIES,ALB,Albania,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN
2,COUNTRIES,DZA,Algeria,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,925447.0,816726.0,88.25
3,COUNTRIES,AND,Andorra,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN
4,COUNTRIES,AGO,Angola,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1154497.0,939484.0,81.38
...,...,...,...,...,...,...,...,...,...,...,...
44815,COUNTRIES,ZMB,Zambia,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44816,COUNTRIES,ZMB,Zambia,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44817,COUNTRIES,ZWE,Zimbabwe,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44818,COUNTRIES,ZWE,Zimbabwe,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN
44819,Exported: 2024-19-6 20:40 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
#change the country names to the standard names
def standardize_country_name(country_name):
    try:
        # Attempt to get the standard country name
        country = pycountry.countries.lookup(country_name)
        return country.name
    except LookupError:
        # Return the original name if no match is found
        return country_name

# Apply the function to the datasets
df_illness['standardized_country'] = df_illness['NAME'].apply(standardize_country_name)
df_contnent['standardized_country'] = df_contnent['country'].apply(standardize_country_name)
#drop replaced columns
df_illness = df_illness.drop(columns=['NAME'])
df_contnent = df_contnent.drop(columns=['country'])
display(df_illness)
display(df_contnent)

,GROUP,CODE,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,standardized_country
0,COUNTRIES,AFG,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1995511.0,1689957.0,84.69,Afghanistan
1,COUNTRIES,ALB,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Albania
2,COUNTRIES,DZA,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,925447.0,816726.0,88.25,Algeria
3,COUNTRIES,AND,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Andorra
4,COUNTRIES,AGO,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1154497.0,939484.0,81.38,Angola
...,...,...,...,...,...,...,...,...,...,...,...
44815,COUNTRIES,ZMB,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia
44816,COUNTRIES,ZMB,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia
44817,COUNTRIES,ZWE,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe
44818,COUNTRIES,ZWE,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe
44819,Exported: 2024-19-6 20:40 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

         continent  unMember standardized_country
0             Asia      True                India
1             Asia      True                China
2    North America      True        United States
3             Asia      True            Indonesia
4             Asia      True             Pakistan
..             ...       ...                  ...
229  North America     False           Montserrat
230  South America     False     Falkland Islands
231        Oceania     False                 Niue
232        Oceania     False              Tokelau
233         Europe      True         Vatican City

[234 rows x 3 columns]

In [101]:
#merge the dataframes
df_mergde = pd.merge(df_illness, df_contnent, on='standardized_country', how='inner')
display(df_mergde)
#change year to int
df_mergde['YEAR'] = df_mergde['YEAR'].astype(int)
display(df_mergde)
df_mergde.to_csv('vaccinated_continets.csv', index=False)

,GROUP,CODE,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,standardized_country,continent,unMember
0,COUNTRIES,AFG,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1995511.0,1689957.0,84.69,Afghanistan,Asia,True
1,COUNTRIES,ALB,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Albania,Europe,True
2,COUNTRIES,DZA,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,925447.0,816726.0,88.25,Algeria,Africa,True
3,COUNTRIES,AND,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Andorra,Europe,True
4,COUNTRIES,AGO,2023.0,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1154497.0,939484.0,81.38,Angola,Africa,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101402,COUNTRIES,YEM,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,1.00,Yemen,Asia,True
101403,COUNTRIES,ZMB,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia,Africa,True
101404,COUNTRIES,ZMB,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia,Africa,True
101405,COUNTRIES,ZWE,1980.0,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe,Africa,True
101406,COUNTRIES,ZWE,1980.0,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe,Africa,True

,GROUP,CODE,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,standardized_country,continent,unMember
0,COUNTRIES,AFG,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1995511.0,1689957.0,84.69,Afghanistan,Asia,True
1,COUNTRIES,ALB,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Albania,Europe,True
2,COUNTRIES,DZA,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,925447.0,816726.0,88.25,Algeria,Africa,True
3,COUNTRIES,AND,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Andorra,Europe,True
4,COUNTRIES,AGO,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1154497.0,939484.0,81.38,Angola,Africa,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101402,COUNTRIES,YEM,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,1.00,Yemen,Asia,True
101403,COUNTRIES,ZMB,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia,Africa,True
101404,COUNTRIES,ZMB,1980,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia,Africa,True
101405,COUNTRIES,ZWE,1980,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe,Africa,True
101406,COUNTRIES,ZWE,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe,Africa,True

In [102]:
pd_life = pd.read_csv('life_expactancy_2_worldbank.csv')  
pd_life.drop(columns=['Unnamed: 68'], inplace=True) 
display(pd_life)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.152000,64.537000,64.752000,65.132000,65.294000,65.502000,...,75.601000,75.683000,75.617000,75.903000,76.072000,76.248000,75.723000,74.626000,74.992000,NaN
1,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44.085552,44.386697,44.752182,44.913159,45.479043,45.498338,...,61.337917,61.856458,62.444050,62.922390,63.365863,63.755678,63.313860,62.454590,62.899031,NaN
2,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.535000,33.068000,33.547000,34.016000,34.494000,34.953000,...,62.545000,62.659000,63.136000,63.016000,63.081000,63.565000,62.575000,61.982000,62.879000,NaN
3,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.845152,38.164950,38.735102,39.063715,39.335360,39.618038,...,55.922229,56.195872,56.581678,56.888446,57.189139,57.555796,57.226373,56.988657,57.626176,NaN
4,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,38.211000,37.267000,37.539000,37.824000,38.131000,38.495000,...,60.040000,60.655000,61.092000,61.680000,62.144000,62.448000,62.261000,61.643000,61.929000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,61.485000,61.836000,62.134000,62.440000,62.734000,63.041000,...,78.880000,78.922000,78.981000,78.783000,78.696000,79.022000,76.567000,76.806000,79.524000,NaN
262,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,33.678000,34.098000,33.615000,33.247000,34.738000,35.373000,...,67.384000,65.873000,66.064000,65.957000,64.575000,65.092000,64.650000,63.753000,63.720000,NaN
263,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,52.669000,53.085000,53.376000,53.633000,53.906000,54.192000,...,63.380000,63.950000,64.747000,65.402000,65.674000,66.175000,65.252000,62.341000,61.480000,NaN
264,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.042000,49.452000,49.794000,50.133000,49.849000,50.563000,...,60.699000,61.208000,61.794000,62.120000,62.342000,62.793000,62.380000,61.223000,61.803000,NaN
265,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,53.235000,53.619000,54.071000,54.549000,54.994000,55.459000,...,58.846000,59.591000,60.306000,60.709000,61.414000,61.292000,61.124000,59.253000,59.391000,NaN

In [103]:
#meltinf the data
pd_life_melted = pd.melt(pd_life, id_vars=['Country Name', 'Country Code','Indicator Name','Indicator Code'], var_name='Year', value_name='Life Expectancy')
display(pd_life_melted)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Life Expectancy
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,64.152000
1,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,44.085552
2,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,32.535000
3,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,37.845152
4,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,38.211000
...,...,...,...,...,...,...
17019,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
17020,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
17021,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
17022,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
17023,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN

In [104]:
#normalize the country names
pd_life_melted['standardized_country'] = pd_life_melted['Country Name'].apply(standardize_country_name)
pd_life_melted = pd_life_melted.drop(columns=['Country Name'])	
display(pd_life_melted)

,Country Code,Indicator Name,Indicator Code,Year,Life Expectancy,standardized_country
0,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,64.152000,Aruba
1,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,44.085552,Africa Eastern and Southern
2,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,32.535000,Afghanistan
3,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,37.845152,Africa Western and Central
4,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,38.211000,Angola
...,...,...,...,...,...,...
17019,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN,Kosovo
17020,YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN,"Yemen, Rep."
17021,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN,South Africa
17022,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN,Zambia
17023,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN,Zimbabwe

In [105]:
# make year to int
pd_life_melted['Year'] = pd_life_melted['Year'].astype(int)
#merge the dataframes
df_merged_life = pd.merge(df_mergde, pd_life_melted, left_on=['standardized_country','YEAR'],right_on=['standardized_country','Year'], how='inner')
#rename the columns
df_merged_life.rename(columns={'standardized_country':'Country Name'}, inplace=True)
display(df_merged_life)

,GROUP,CODE,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,Country Name,continent,unMember,Country Code,Indicator Name,Indicator Code,Year,Life Expectancy
0,COUNTRIES,AFG,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1995511.0,1689957.0,84.69,Afghanistan,Asia,True,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
1,COUNTRIES,ALB,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Albania,Europe,True,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
2,COUNTRIES,DZA,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,925447.0,816726.0,88.25,Algeria,Africa,True,DZA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
3,COUNTRIES,AND,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,NaN,NaN,NaN,Andorra,Europe,True,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
4,COUNTRIES,AGO,2023,POL3,"Polio, 3rd dose",ADMIN,Administrative coverage,1154497.0,939484.0,81.38,Angola,Africa,True,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2023,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93693,COUNTRIES,VNM,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Viet Nam,Asia,True,VNM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1980,66.195
93694,COUNTRIES,ZMB,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia,Africa,True,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1980,54.143
93695,COUNTRIES,ZMB,1980,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zambia,Africa,True,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1980,54.143
93696,COUNTRIES,ZWE,1980,DTPCV1,"DTP-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe,Africa,True,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1980,58.674
93697,COUNTRIES,ZWE,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,NaN,Zimbabwe,Africa,True,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1980,58.674

In [106]:
#drop irrelevant columns
df_merged_life.to_csv('undropped_better_merge.csv', index=False)
df_merged_life.drop(columns=['Country Code','Indicator Name','Indicator Code','COVERAGE_CATEGORY', 'COVERAGE_CATEGORY_DESCRIPTION', 'GROUP', 'Year'], inplace=True)
display(df_merged_life)

,CODE,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,Country Name,continent,unMember,Life Expectancy
0,AFG,2023,POL3,"Polio, 3rd dose",1995511.0,1689957.0,84.69,Afghanistan,Asia,True,NaN
1,ALB,2023,POL3,"Polio, 3rd dose",NaN,NaN,NaN,Albania,Europe,True,NaN
2,DZA,2023,POL3,"Polio, 3rd dose",925447.0,816726.0,88.25,Algeria,Africa,True,NaN
3,AND,2023,POL3,"Polio, 3rd dose",NaN,NaN,NaN,Andorra,Europe,True,NaN
4,AGO,2023,POL3,"Polio, 3rd dose",1154497.0,939484.0,81.38,Angola,Africa,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...
93693,VNM,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Viet Nam,Asia,True,66.195
93694,ZMB,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Zambia,Africa,True,54.143
93695,ZMB,1980,DTPCV1,"DTP-containing vaccine, 1st dose",NaN,NaN,NaN,Zambia,Africa,True,54.143
93696,ZWE,1980,DTPCV1,"DTP-containing vaccine, 1st dose",NaN,NaN,NaN,Zimbabwe,Africa,True,58.674
93697,ZWE,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Zimbabwe,Africa,True,58.674

In [107]:
#write the data to a csv file
df_merged_life.to_csv('all_vaccane_1980-2023.csv', index=False)

# extra merging for gdp and infant death

In [108]:
pd_gdp = pd.read_csv('gdpcapita.csv')
#drop unnamed column   
pd_gdp.drop(columns=['Unnamed: 68'], inplace=True)
display(pd_gdp)
pd_child = pd.read_csv('Kinderdoden.csv')
#drop unnamed column
pd_child.drop(columns=['Unnamed: 68'], inplace=True)
display(pd_child)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,26940.264114,28419.264534,28449.712946,29329.081747,30918.483584,31902.809818,24008.127822,29127.759384,33300.838819,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1678.554977,1498.738230,1346.152564,1485.522597,1558.307482,1507.982881,1355.805923,1545.613215,1644.062829,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,62.369375,62.443703,60.950364,82.021738,85.511073,105.243196,...,626.512930,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,NaN,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.053706,112.128417,117.814663,122.370114,130.700278,137.301801,...,2248.316255,1882.264038,1648.762676,1590.277754,1735.374911,1812.446822,1688.075575,1766.943618,1785.312219,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5011.984412,3217.339244,1809.709377,2439.374441,2540.508878,2191.347764,1450.905112,1927.474078,3000.444231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798,NaN
262,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538,650.272218,NaN
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,529.561923,543.042224,560.699394,601.599951,642.688431,681.131111,...,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254,NaN
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,228.567399,216.274674,208.562685,209.453362,236.941713,296.022427,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570,NaN
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.643363,279.332656,275.966139,277.532515,282.376856,294.893605,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489,NaN

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.518585,49.137061,47.792565,46.422853,45.087369,43.89670,42.858888,41.823821,40.797625,NaN
2,Afghanistan,AFG,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,231.4,227.6,223.9,220.0,...,56.200000,54.600000,53.000000,51.500000,50.100000,48.80000,47.400000,46.100000,44.800000,NaN
3,Africa Western and Central,AFW,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.847023,68.672227,67.493496,66.304602,65.007399,63.59875,62.159863,60.679335,59.130029,NaN
4,Angola,AGO,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.300000,57.600000,55.400000,53.400000,51.600000,49.90000,48.400000,47.000000,45.700000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.800000,13.000000,12.200000,11.400000,10.800000,10.10000,9.600000,9.100000,8.700000,NaN
262,"Yemen, Rep.",YEM,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,272.0,265.0,...,38.400000,38.400000,37.500000,36.800000,36.600000,35.90000,34.500000,34.700000,33.100000,NaN
263,South Africa,ZAF,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.400000,29.800000,29.400000,28.900000,28.500000,28.20000,28.100000,27.800000,27.700000,NaN
264,Zambia,ZMB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,121.6,119.7,117.9,116.4,115.1,114.2,...,47.000000,47.100000,45.400000,44.000000,43.400000,42.20000,40.900000,39.900000,39.000000,NaN
265,Zimbabwe,ZWE,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,92.8,90.8,88.5,86.2,83.9,81.7,...,43.000000,41.900000,40.400000,39.200000,37.800000,36.90000,36.400000,35.500000,34.600000,NaN

In [109]:
#meltinf the data
pd_gdp_melted = pd.melt(pd_gdp, id_vars=['Country Name', 'Country Code','Indicator Name','Indicator Code'], var_name='Year', value_name='GDP')
display(pd_gdp_melted)
pd_gdp__meltd_drop = pd_gdp_melted.drop(columns=['Country Code','Indicator Name','Indicator Code'])
#equalize the country names
pd_gdp__meltd_drop['standardized_country'] = pd_gdp__meltd_drop['Country Name'].apply(standardize_country_name)
pd_gdp__meltd_drop = pd_gdp__meltd_drop.drop(columns=['Country Name'])
#rename the columns
pd_gdp__meltd_drop.rename(columns={'standardized_country':'Country Name'}, inplace=True)
#make year to int
pd_gdp__meltd_drop['Year'] = pd_gdp__meltd_drop['Year'].astype(int)
display(pd_gdp__meltd_drop)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,GDP
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,1960,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,1960,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,1960,62.369375
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,1960,107.053706
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,1960,NaN
...,...,...,...,...,...,...
17019,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,2023,NaN
17020,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,2023,NaN
17021,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,2023,NaN
17022,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,2023,NaN
17023,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,2023,NaN

       Year         GDP                 Country Name
0      1960         NaN                        Aruba
1      1960         NaN  Africa Eastern and Southern
2      1960   62.369375                  Afghanistan
3      1960  107.053706   Africa Western and Central
4      1960         NaN                       Angola
...     ...         ...                          ...
17019  2023         NaN                       Kosovo
17020  2023         NaN                  Yemen, Rep.
17021  2023         NaN                 South Africa
17022  2023         NaN                       Zambia
17023  2023         NaN                     Zimbabwe

[17024 rows x 3 columns]

In [110]:
#the same for the child mortality
pd_child_melted = pd.melt(pd_child, id_vars=['Country Name', 'Country Code','Indicator Name','Indicator Code'], var_name='Year', value_name='Child Mortality')
display(pd_child_melted)
pd_child_melted_drop = pd_child_melted.drop(columns=['Country Code','Indicator Name','Indicator Code'])
pd_child_melted_drop['standardized_country'] = pd_child_melted_drop['Country Name'].apply(standardize_country_name)
pd_child_melted_drop = pd_child_melted_drop.drop(columns=['Country Name'])
pd_child_melted_drop.rename(columns={'standardized_country':'Country Name'}, inplace=True)
#rename the columns
pd_child_melted_drop.rename(columns={'Child Mortality':'Child Mortality per 1000 '}, inplace=True)
pd_child_melted_drop['Year'] = pd_child_melted_drop['Year'].astype(int)
display(pd_child_melted_drop)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Child Mortality
0,Aruba,ABW,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1960,NaN
1,Africa Eastern and Southern,AFE,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1960,NaN
2,Afghanistan,AFG,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1960,NaN
3,Africa Western and Central,AFW,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1960,NaN
4,Angola,AGO,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1960,NaN
...,...,...,...,...,...,...
17019,Kosovo,XKX,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,2023,NaN
17020,"Yemen, Rep.",YEM,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,2023,NaN
17021,South Africa,ZAF,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,2023,NaN
17022,Zambia,ZMB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,2023,NaN
17023,Zimbabwe,ZWE,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,2023,NaN

       Year  Child Mortality per 1000                  Country Name
0      1960                        NaN                        Aruba
1      1960                        NaN  Africa Eastern and Southern
2      1960                        NaN                  Afghanistan
3      1960                        NaN   Africa Western and Central
4      1960                        NaN                       Angola
...     ...                        ...                          ...
17019  2023                        NaN                       Kosovo
17020  2023                        NaN                  Yemen, Rep.
17021  2023                        NaN                 South Africa
17022  2023                        NaN                       Zambia
17023  2023                        NaN                     Zimbabwe

[17024 rows x 3 columns]

In [111]:
#merge the dataframes 
df_merged_gdp = pd.merge(df_merged_life, pd_gdp__meltd_drop, left_on=['Country Name','YEAR'],right_on=['Country Name','Year'], how='inner')
#drop the year column
df_merged_gdp.drop(columns=['Year'], inplace=True)
display(df_merged_gdp)
df_merged_gdp_child = pd.merge(df_merged_gdp, pd_child_melted_drop, left_on=['Country Name','YEAR'],right_on=['Country Name','Year'], how='inner')
#drop the year column
df_merged_gdp_child.drop(columns=['Year'], inplace=True)
#renaem the gdp column
df_merged_gdp_child.rename(columns={'GDP':'GDP per Capita'}, inplace=True)
display(df_merged_gdp_child)
df_merged_gdp_child.to_csv('all_vaccine_data.csv', index=False)

,CODE,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,Country Name,continent,unMember,Life Expectancy,GDP
0,AFG,2023,POL3,"Polio, 3rd dose",1995511.0,1689957.0,84.69,Afghanistan,Asia,True,NaN,NaN
1,ALB,2023,POL3,"Polio, 3rd dose",NaN,NaN,NaN,Albania,Europe,True,NaN,NaN
2,DZA,2023,POL3,"Polio, 3rd dose",925447.0,816726.0,88.25,Algeria,Africa,True,NaN,NaN
3,AND,2023,POL3,"Polio, 3rd dose",NaN,NaN,NaN,Andorra,Europe,True,NaN,NaN
4,AGO,2023,POL3,"Polio, 3rd dose",1154497.0,939484.0,81.38,Angola,Africa,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
93693,VNM,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Viet Nam,Asia,True,66.195,NaN
93694,ZMB,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Zambia,Africa,True,54.143,678.774900
93695,ZMB,1980,DTPCV1,"DTP-containing vaccine, 1st dose",NaN,NaN,NaN,Zambia,Africa,True,54.143,678.774900
93696,ZWE,1980,DTPCV1,"DTP-containing vaccine, 1st dose",NaN,NaN,NaN,Zimbabwe,Africa,True,58.674,947.367135
93697,ZWE,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Zimbabwe,Africa,True,58.674,947.367135

,CODE,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,Country Name,continent,unMember,Life Expectancy,GDP per Capita,Child Mortality per 1000
0,AFG,2023,POL3,"Polio, 3rd dose",1995511.0,1689957.0,84.69,Afghanistan,Asia,True,NaN,NaN,NaN
1,ALB,2023,POL3,"Polio, 3rd dose",NaN,NaN,NaN,Albania,Europe,True,NaN,NaN,NaN
2,DZA,2023,POL3,"Polio, 3rd dose",925447.0,816726.0,88.25,Algeria,Africa,True,NaN,NaN,NaN
3,AND,2023,POL3,"Polio, 3rd dose",NaN,NaN,NaN,Andorra,Europe,True,NaN,NaN,NaN
4,AGO,2023,POL3,"Polio, 3rd dose",1154497.0,939484.0,81.38,Angola,Africa,True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93693,VNM,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Viet Nam,Asia,True,66.195,NaN,47.2
93694,ZMB,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Zambia,Africa,True,54.143,678.774900,95.8
93695,ZMB,1980,DTPCV1,"DTP-containing vaccine, 1st dose",NaN,NaN,NaN,Zambia,Africa,True,54.143,678.774900,95.8
93696,ZWE,1980,DTPCV1,"DTP-containing vaccine, 1st dose",NaN,NaN,NaN,Zimbabwe,Africa,True,58.674,947.367135,70.5
93697,ZWE,1980,DTPCV3,"DTP-containing vaccine, 3rd dose",NaN,NaN,NaN,Zimbabwe,Africa,True,58.674,947.367135,70.5

In [112]:
#put each diffferent illness in a different colu
list_of_indicators = df_merged_gdp_child['ANTIGEN_DESCRIPTION'].unique()
for indicator in list_of_indicators:
    df_merged_gdp_child[indicator] = np.where(df_merged_gdp_child['ANTIGEN_DESCRIPTION'] == indicator, df_merged_gdp_child['COVERAGE'], np.nan)
df_merged_gdp_child.drop(columns=['ANTIGEN_DESCRIPTION', 'COVERAGE','ANTIGEN'], inplace=True)
display(df_merged_gdp_child)
df_merged_gdp_child.to_csv('errorvaccinne.csv', index=False)

,CODE,YEAR,TARGET_NUMBER,DOSES,Country Name,continent,unMember,Life Expectancy,GDP per Capita,Child Mortality per 1000,"Polio, 3rd dose","Measles-containing vaccine, 2nd dose","Measles-containing vaccine, 1st dose","DTP-containing vaccine, 3rd dose","DTP-containing vaccine, 1st dose"
0,AFG,2023,1995511.0,1689957.0,Afghanistan,Asia,True,NaN,NaN,NaN,84.69,NaN,NaN,NaN,NaN
1,ALB,2023,NaN,NaN,Albania,Europe,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DZA,2023,925447.0,816726.0,Algeria,Africa,True,NaN,NaN,NaN,88.25,NaN,NaN,NaN,NaN
3,AND,2023,NaN,NaN,Andorra,Europe,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,2023,1154497.0,939484.0,Angola,Africa,True,NaN,NaN,NaN,81.38,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93693,VNM,1980,NaN,NaN,Viet Nam,Asia,True,66.195,NaN,47.2,NaN,NaN,NaN,NaN,NaN
93694,ZMB,1980,NaN,NaN,Zambia,Africa,True,54.143,678.774900,95.8,NaN,NaN,NaN,NaN,NaN
93695,ZMB,1980,NaN,NaN,Zambia,Africa,True,54.143,678.774900,95.8,NaN,NaN,NaN,NaN,NaN
93696,ZWE,1980,NaN,NaN,Zimbabwe,Africa,True,58.674,947.367135,70.5,NaN,NaN,NaN,NaN,NaN
93697,ZWE,1980,NaN,NaN,Zimbabwe,Africa,True,58.674,947.367135,70.5,NaN,NaN,NaN,NaN,NaN

In [113]:
#join rows of the same country in the same year
df_merged_gdp_child_grouped = df_merged_gdp_child.groupby(['Country Name', 'YEAR']).max().reset_index()
display(df_merged_gdp_child_grouped)
df_merged_gdp_child_grouped.to_csv('final_vaccine_data_columns.csv', index=False)

,Country Name,YEAR,CODE,TARGET_NUMBER,DOSES,continent,unMember,Life Expectancy,GDP per Capita,Child Mortality per 1000,"Polio, 3rd dose","Measles-containing vaccine, 2nd dose","Measles-containing vaccine, 1st dose","DTP-containing vaccine, 3rd dose","DTP-containing vaccine, 1st dose"
0,Afghanistan,1980,AFG,NaN,NaN,Asia,True,39.618,291.649791,164.0,3.00,NaN,11.00,4.00,22.00
1,Afghanistan,1981,AFG,NaN,NaN,Asia,True,40.164,311.853617,159.8,3.00,NaN,6.00,3.00,NaN
2,Afghanistan,1982,AFG,NaN,NaN,Asia,True,37.766,NaN,155.6,5.00,NaN,8.00,5.00,24.00
3,Afghanistan,1983,AFG,NaN,NaN,Asia,True,38.187,NaN,151.2,5.00,NaN,9.00,5.00,24.00
4,Afghanistan,1984,AFG,NaN,NaN,Asia,True,33.329,NaN,147.1,16.00,NaN,14.00,16.00,39.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7695,Zimbabwe,2019,ZWE,459428.0,434140.0,Africa,True,61.292,1421.868596,36.9,90.00,75.92,85.00,90.00,94.50
7696,Zimbabwe,2020,ZWE,464123.0,430862.0,Africa,True,61.124,1372.696674,36.4,86.32,74.23,85.00,86.08,93.00
7697,Zimbabwe,2021,ZWE,529341.0,439711.0,Africa,True,59.253,1773.920411,35.5,88.00,76.00,88.00,88.00,93.00
7698,Zimbabwe,2022,ZWE,442659.0,449600.0,Africa,True,59.391,1676.821489,34.6,93.29,80.95,93.74,97.23,101.57
7699,Zimbabwe,2023,ZWE,462199.0,465712.0,Africa,True,NaN,NaN,NaN,95.41,86.94,93.87,98.01,100.76